<h1>Events</h1>
<%= link_to "New Event", new_event_path %>
<% @events.each do |event| %>
  <p>
    <strong><%= event.message %></strong>
    <%= event.relevence %>
    <%= event.created_at %>
    <%= link_to "Show", event_path(event) %>
    <%= link_to "Edit", edit_event_path(event) %>
    <%= link_to "Delete", event_path(event), method: :delete %>
  </p>
<% end %>
